<main class="space-y-4 flex justify-center items-center flex-col py-4">
	<% if (!news.length) { %>
	 <p>Nenhuma notícia por enquanto!</p>
	 <p>Assim que tivemos notícias relacionadas às categorias pedidas elas vão aparecer aqui!</p>
	<% } %>
	<% news.forEach(news_ => { %>
		<%- include('./news-card.ejs', { news: news_ }) %>
	<% }) %>
</main>