<div class="flex justify-center items-center px-2 space-x-2">
	<label for="select-profiles">Perfil: </label>
	<select name="profileId" id="select-profiles" class="p-2 border rounded" hx-get="/news/feed" hx-trigger="change" hx-swap="innerHTML" hx-target="main">
		<% if (!profiles.length) { %>
			<option value="new">Crie um perfil</option> 
		<% } %>
		<% profiles.forEach(profile => { %>
		 <option
		 	value="<%- profile.id %>"
			<% if (selectedProfileId === profile.id) { %>
				selected
			<% } %>
			><%- profile.name %></option>
		<% }) %>
	</select>
</div>

