<!DOCTYPE html>
<html lang="pt">
<%- include('../../partials/head.ejs') %>
<body class="bg-gray-100">
	<%- include('../../partials/header.ejs', { showSelectProfiles: false }) %>		
	<main class="flex justify-center p-4">
		<%- include('../../forms/edit-profile.ejs') %>
	</div>
	</main>
</body>
</html>