<header class="h-12 px-2 bg-white sticky top-0 border-b flex justify-between items-center">
	<div class="space-x-2">
		<a href="/news">Notícias</a>
		<a href="/profiles">Gerenciar Perfis</a>
	</div>
	{{#if showSelectProfiles}}
		{{> profiles-select profiles=profiles selectedProfileId=selectedProfileId}}
	{{/if}}
</header>