{{#if news.length}}
    {{#forEach news}}
        {{> news-card news=this }}
        {{#and isLast (not lastRow)}}
            <div hx-swap="outerHTML" hx-trigger="revealed" hx-get="/news/feed?profileId={{../profileId}}&cursor={{createdAt}}">
                <span id="spinner" class="material-symbols-outlined animate-spin">progress_activity</span>
            </div>
        {{/and}}
    {{/forEach}}
{{else}}
    <p>Nenhuma notícia por enquanto!</p>
    <p>Assim que tivermos notícias relacionadas às categorias pedidas, elas vão aparecer aqui!</p>
{{/if}}
