<div class="flex justify-center items-center px-2 space-x-2">
    <label for="select-profiles">Perfil: </label>
    <select name="profileId" id="select-profiles" class="p-2 border rounded" hx-get="/news/feed" hx-trigger="change" hx-swap="innerHTML" hx-target="main">
        {{#unless profiles.length}}
            <option value="new">Crie um perfil</option>
        {{/unless}}
        {{#each profiles as |profile|}}
            <option
                value="{{profile.id}}"
                {{#eq profile.id ../profileId}}
                    selected
                {{/eq}}
                >{{profile.name}}</option>
        {{/each}}
    </select>
</div>
